streamlit
requests
gtts
python-dotenv
assemblyai
streamlit-mic-recorder
streamlit-webrtc==0.47.0
audio_recorder_streamlit
aiortc
av
pydub
ffmpeg-python
faster_whisper
vosk
soundfile
noisereduce
scipy













