streamlit
requests
gtts
python-dotenv
assemblyai
streamlit-mic-recorder
streamlit-webrtc
aiortc
av
pydub
ffmpeg-python
faster_whisper
vosk
soundfile
noisereduce
scipy











